{% extends 'base.html' %}
{% block content %}

    <!-- Dashboard page -->

    {% if posts %}
        <!-- Display a heading if there are posts -->
        <h2>Published Posts</h2>

        <section id="dashboard">
        <!-- Display a div with information about each post (if any) -->

        <!-- first post -->
        <div class="post">
            {% for post in posts %}
                <!-- post image -->
                <img src="{{ post.image }}" alt="post image">
                <!-- post title -->
                <h3 class="title">{{ post.title }}</h3>
                <!-- post content -->
                <p class="description">{{ post.content|truncatewords:3 }}</p>
                <!-- post details button -->
                <a class="details-btn" href="#">See More</a>
                </div>
            {% endfor %}
    {% else %}
        <!-- Display a heading if there are NO posts -->
        <h2>No published posts yet.</h2>
    {% endif %}
</section>

{% endblock %}